.deleteAllBtn{
    color: red;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.body{
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}